body {
	background: black;
	color: #fff;
}

a:link {
	color: #fff;
}

a:visited {
	color: #bbb;
}

a.github:before {
	width: 16px;
	height: 16px;
	background-image: url("github.png");
	background-size: 16px;
	position: relative;
	top: 1px;
	display: inline-block;
	content: "\a0";
}

canvas {
	position: fixed;
	top: 0px;
	left: 0px;
	pointer-events: none;
	z-index: -1;
}

header {
	text-align: center;
	font-size: 3em;
	font-family: Futura, sans-serif;
}

main {
	width: 100%;
	padding: 5px;
	font-family: "PT Sans", sans-serif;
}
